/* GLOBAL */

body {
    background-color: white;
    border-radius: 1%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 4px 40px rgba(0, 0, 0, .2);
}


/*BURGER MENU START*/

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.5s;
}

.change .bar1 {
    transform: rotate(-45deg)translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg)translate(-8px, -8px);
}

.dropbtn {
    background-color: #f1f1f1;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #f1f1f1;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px #3d3d3d;
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.dropdown a:hover {}

.show {
    display: block;
}


/*BURGER MENU SLUT*/


/*KNAPPER*/

.tilmeld {
    background-color: #9bd5c4;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 1%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 4px 40px rgba(0, 0, 0, .2);
}

.tilmeldforside {
    background-color: #9bd5c4;
    height: 40px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 1%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 4px 40px rgba(0, 0, 0, .2);
}


/*Typografi*/

a {
    text-decoration: none;
}

h2 {
    font-family: Montserrat;
    color: #3d3d3d;
}

h1 {
    font-family: Montserrat;
    color: #3d3d3d;
    text-align: center;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}


/*TOPPEN*/

.dropbtn {
    background-color: white;
}

.bar1,
.bar2,
.bar3 {
    background-color: #5c6671;
}

#myDropdown {
    background-color: white;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
}

#menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 10px;
    background-color: white;
    padding: 8px;
}

#so_me img {
    height: auto;
    width: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 10px;
    border-radius: 1%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 4px 40px rgba(0, 0, 0, .2);
}

#so_me {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav {
    font-size: 10px;
}


/* CONTENT */

#info {
    text-align: center;
    vertical-align: middle;
}

#omfood8 {
    vertical-align: middle;
    align-items: flex-end;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #f4efe3;
    padding-bottom: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

#omfood8 p {
    height: 200px;
    padding: 20px;
    background: white;
    text-align: center;
    vertical-align: middle;
}

#food8billeder {
    vertical-align: middle;
    align-items: end;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #f4efe3;
    text-align: center;
}

#food8billeder img {
    height: auto;
    width: 60%;
    margin-left: 15px;
}

#food8billeder p {
    margin-right: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
}

#food8billeder h1 {
    text-align: center;
}


/* FOOTER */


/* FOOTER */

#footergrid {
    margin-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

#footercontent {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    z-index: 99999;
    text-align: center;
    position: relative;
    cursor: pointer;
}

#kontaktoplysninger p {
    text-decoration-color: #3d3d3d;
    letter-spacing: 1.5px
}

#footergrid p {
    font-family: Cormorant;
    font-size: 17px;
    text-align: left
}

#strom img {
    height: auto;
    width: 90%;
}

#kontaktoplysninger p {
    letter-spacing: 1.5px;
    color: #3d3d3d;
}


/*geolocation*/

#map {
    height: 400px;
    width: 100%;
}


/* SAERARRANGEMENT */

#saerarrangementindhold {
    background-color: seashell;
    margin-left: 10%;
    margin-right: 10%;
}

#saerarrangementtekst {
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

#saerarrangementnyheder {}

#saerarrangementbillede {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#saerrangementnyhedstekst {
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
    padding-bottom: 4%;
}

.omfood8tekst {
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 4%;
    background-color: aqua;
}


/* STEDER - RESTAURANTER */

.link-more {
    display: none;
}


/* MEDIAQUERYS */

@media screen and (min-width: 627px) and (orientation: landscape) {
    #modtager {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        margin: 10px;
    }
}
